<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/Content/CSS/style.css" type="text/css">
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/Content/JS/script.js" type="text/javascript"></script>
    <title>Message Board</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="logo" href="/"><h1>epicodex</h1></a>
        </div>
        <p class="text-right username">Logged in as @Model["user"].GetName()</h4>
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <div class="col-md-10 main-content">
        <form class="form-group" action="/new" method="post">
          <input class="form-control" type="hidden" name="author" value='@Model["user"].GetName()' required>
          <label>Title:</label>
          <input class="form-control" type="text" name="title" value="" required>
          <label>Main Text:</label>
          <input class="form-control" type="text" name="main-text" value="" required>
          <label>Category:</label>
          <select name="category">
            <option>None</option>
            @foreach (var category in Model["categories"])
            {
              <option value=@category.GetId()>@category.GetName()</option>
            }
          </select>
          <button class="btn btn-primary" type="submit" name="button">Submit</button>
        </form>
        <form action="/" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn btn-danger" type="submit" name="button">Delete all Posts</button>
        </form>      </div>
        <div class="col-md-2">
          <div class="sidebar">
            <h3>SIDEBAR</h3>
            <ul>
              <li class="sidebar-listitem"><a href="/new"><button type="button" class="btn btn-success">New Post</button></a></li>
              <li class="sidebar-listitem">
                <form action="/" method="post">
                  <input type="hidden" name="_method" value="DELETE">
                  <button class="btn btn-danger" type="submit">Delete all Posts</button>
                </form>
              </li class="sidebar-listitem">
              <li><a href="/register"><button type="button" class="btn btn-info">Register</button></a></li>
            </ul>
          </div>
        </div>

    </div>
  </body>
</html>
