body {
  background-color: #c2f0f0;

}

h1, h2, h3 {
  color: #3454D1;
}

.navbar h1 {
  color: white;
  font-weight: bold;
}

.navbar {
  background-color: #3FA7D6;
  border-bottom: 5px solid #1D70A2;
  border-top: 0px;
  border-radius: 0px;
}

.page-top-header {
  background-color: rgb(45, 89, 134);
}

ul {
  list-style-type: none;
}

.sidebar {
  height: 100%;
}

.sidebar-listitem {
  font-size: 1.7em;
}

.sidebar ul{
  padding-left: 0px;
}

.header-wrap {
  background-color: #F79D84;
  width: 100%;
  padding: 15px;
}

.header-wrap h1 {
  margin: 0px;
  color: white;
}

.comment-form {
  display: none;
}

.comment-wrapper {
  background-color: rgba(255, 255, 255, .3);
  margin-left: 30px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.post-listing {
  padding: 15px;
  font-size: 2em;
  background-color: rgba(255, 255, 255, .3);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.post-listing li {
  margin-left: 10px;
  display: inline-block;
}

.post-listing button {
  display: inline-block;
}

.post-content {
  padding: 15px;
  background-color: rgba(255, 255, 255, .3);
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.page-header {
  margin: 15px 0 15px;
  color: #3454D1;
}

.main-content {
  background-color: rgba(255, 255, 255, .3);
  padding-top: 20px;
  border-radius: 5px;
}

.sidebar {
  background-color: rgba(255, 255, 255, .3);
  padding-top: 20px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
}

.sidebar a:hover {
  text-decoration: none;
}

.sidebar .btn {
  margin-bottom: 20px;
}
