body {
  background-color: #c2f0f0;
}

.navbar {
  background-color: rgba(0,0,100,.6);
  border: 0px;
  border-radius: 0px;
  padding-left: 50px;
  color: #fff;
}

.username {
  margin-right: 10px;
  margin-top: 34px;
}

.logo {
  color: #fff;
}

.logo:visited {
  color: #fff;
}

.navbar h1 {
  color: white;
  margin-top: 20px;
}

.navbar {
  background-color: #3FA7D6;
  border-bottom: 5px solid #1D70A2;
  border-top: 0px;
  border-radius: 0px;
  padding: 5px 0px;
}

.navbar img {
  float: left;
  max-width: 79px;
  margin-right: 10px;
}

.navbar-header {
  float: left;
  min-width: 300px;
  margin-left:30px;
}

.logo:hover {
  color: #ff9;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.sidebar {
  height: 100%;
}

.sidebar-listitem {
  font-size: 1.7em;
}

.sidebar ul{
  padding-left: 0px;
}

.header-wrap {
  background-color: #F79D84;
  width: 100%;
  padding: 15px;
}

.header-wrap h1 {
  margin: 0px;
  color: white;
}

.comment-form {
  display: none;
}

.comment-wrapper {
  background-color: rgba(255, 255, 255, .3);
  margin-left: 30px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.post-listing {
  padding: 15px;
  background-color: rgba(255, 255, 255, .3);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.post-listing li {
  font-size: 2em;
  margin-left: 10px;
  display: inline-block;
}

.post-listing button {
  display: inline-block;
  margin-top: 5px;
}

.post-content {
  padding: 15px;
  background-color: rgba(255, 255, 255, .3);
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.page-header {
  margin: 15px 0 15px;
  color: #3454D1;
}

.main-content {
  background-color: rgba(255, 255, 255, .3);
  padding-top: 20px;
  border-radius: 5px;
}

.sidebar {
  background-color: rgba(255, 255, 255, .3);
  padding-top: 20px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.votebtn {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  border: none;
  margin-top: 0px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.downvote {
  background-color: rgba(128, 0, 0, .5)
}
.downvote:hover {
  background-color: rgba(128, 0, 0, .65)
}

.upvote {
  background-color: rgba(0, 102, 34, .5);
}

.upvote:hover {
  background-color: rgba(0, 102, 34, .65);
}

.navigationlinks {
  padding-right: 10px;
}

footer {
  text-align: right;
   background-color: #3FA7D6;
   padding-top: 10px;
   padding-bottom: 0px;
   padding-right: 20px;
   position:fixed;
   bottom:0;
   width:100%;
   border-top: solid 1px black;
   color: white;
   font-size: 15px;
}

.post-rating {
  color: #002db3;
}

.listing:hover {
  text-decoration: none;
  color: #000;
}

.punctuation:last-child{
  display: none;
}

.btn-navbar {
  background-color: inherit;
  border: none;
}

.btn-navbar:hover {
  color: #cce6ff;
}

.navtext {
  color: #fff;
}

.navtext:hover {
  text-decoration: none;
  color: #cce6ff;
  cursor: pointer;
}

.navform {
  display: none;
}

.login {
  margin-top: 9px;
  margin-right: 25px;
}

.top-page {
  margin-bottom: 50px;
  text-align: center;
}

.sidebar .btn {
  margin-top: 5px;
}

.main-content .btn {
  margin-top: 5px;
}

.nav-pills {
  margin: 0px 10px;
}

.show-form, .hide-form {
  cursor: pointer;
}

textarea {
  resize: none;
}
